# {{ ansible_managed }}

# This file contains user configuration settings for clamav-unofficial-sigs.sh
###################
# This is property of eXtremeSHOK.com
# You are free to use, modify and distribute, however you may not remove this notice.
# Copyright (c) Adrian Jon Kriel :: admin@extremeshok.com
# License: BSD (Berkeley Software Distribution)
#
# NOT COMPATIBLE WITH VERSION 3.XX / 4.XX CONFIG
#
################################################################################
# SEE MASTER.CONF FOR CONFIG EXPLANATIONS
################################################################################

# Values in this file will always override those in the master.conf and os.conf files.
# This is useful to specify your authorisation/receipt codes and to always force certain options.
# Please note, it is your responsibility to manage the contents of this file.
# Values provided here are just examples, feel free to use any values from the main config file.

# --- Enable/Disable signature databases/sources: ---
sanesecurity_enabled="{{ clamav_sigs_sanesecurity_enabled }}"
securiteinfo_enabled="{{ clamav_sigs_securiteinfo_enabled }}"
linuxmalwaredetect_enabled="{{ clamav_sigs_linuxmalwaredetect_enabled }}"
yararulesproject_enabled="{{ clamav_sigs_yararulesproject_enabled }}"
malwarepatrol_enabled="{{ clamav_sigs_malwarepatrol_enabled }}"
additional_enabled="no"

# -- DB scecific config options (like licence keys etc) ---

{% if malwarepatrol_receipt_code is defined %}
malwarepatrol_receipt_code="{{ malwarepatrol_receipt_code }}"
malwarepatrol_product_code="{{ malwarepatrol_product_code }}"
malwarepatrol_list="clamav_basic" # clamav_basic or clamav_ext
{% else %}
malwarepatrol_free="yes"
{% endif %}

{% securiteinfo_authorisation_signature is defined %}
securiteinfo_authorisation_signature="{{ securiteinfo_authorisation_signature }}"
{% endif %}

# --- Filtering based on false-positive risk rating ---
# valid rating: LOW, MEDIUM, HIGH

# Default dbs rating (Default: MEDIUM)
default_dbs_rating="{{ clamav_sigs_false_positive_risk_level }}"

# Per Database
# These ratings will override the global rating for the specific database
# valid rating: LOW, MEDIUM, HIGH, DISABLE
#sanesecurity_dbs_rating="HIGH"
#securiteinfo_dbs_rating="HIGH"
#linuxmalwaredetect_dbs_rating="HIGH"
#yararulesproject_dbs_rating="HIGH"

# Uncomment the following line to enable the script
user_configuration_complete="yes"
